{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/footprint.css' %}">

    <div>
        <form action="add_location_to_db" method="post" id="post-form">
            {% csrf_token %}
            <label for="latitude">latitude: </label>
            <input id="latitude" type="text" name="latitude">

            <label for="longitude">longitude: </label>
            <input id="longitude" type="text" name="longitude">

            <input type="submit" value="Add">
        </form>

    </div>

    <div id="map">
    </div>

    <script>
        var locations = {{ locations }}
        var pinpoints = []
        locations.forEach(element => {
            var d = {}
            d['lat'] = element[0]
            d['lng'] = element[1]
            pinpoints.push(d)

        })

        function initMap() {
            var uluru = {lat: -25.344, lng: 131.036};

            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: uluru}
                );
            pinpoints.forEach(element => {
                // Add location markers to the map.
                new google.maps.Marker({position: element, map: map});
            })

        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbWenZIgsVBzLzo5D6s9zYSb4VWKaXFGg&callback=initMap">
    </script>

{% endblock %}